#logo-home {
    max-width: 600px;
}
.connectandplay {
    margin-top:64px;
    margin-bottom:64px;
    background-color: #000000;
    padding:32px;
    max-width: 600px;
}
#home-features {
    margin-top:64px;
    text-align: center;
}
.home-feature {
    padding:64px;
}