<header class="site-header">
   <div class="container">
      <nav class="navbar navbar-default">
         <div class="row top">
            <div class="col-md-4 col-md-offset-4">
               <a class="navbar-brand" href="{{ site.baseurl }}/">
                  <img src="/images/bitquest-logo.png" alt="{{ site.title }}">
               </a>
            </div>

            <div class="col-md-6 col-md-offset-3 navbar-txt">
               <h1 class="txt">Welcome to the first <strong>Minecraft</strong> Server with a <strong>Bitcoin</strong> denominated monetary system.</h1>
            </div>
         </div>
         <div class="row features">
           <div class="col-md-4">
             <h2>Bits</h2>
             <img class="img-responsive img-circle" src="images/bank.jpg">
             <p>The currency on this server are the Bits. A bit is a fraction of a Bitcoin (1/10000) that you can obtain by killing monsters, trading with users or transfering from an outside wallet. All of it is stored on a standard Bitcoin wallet on the Blockchain.</p>
           </div>
           <div class="col-md-4">
             <h2>Level System</h2>
             <img class="img-responsive img-circle" src="images/level.jpg">
             <p>The level system is different that in a vanilla server. You gather experience from killing mobs and is never lost. Your XP allows you to become stronger and gain extra health. Mobs also have levels and special abilities specially in dungeons and dangerous areas.</p>
          </div>
           <div class="col-md-4">
             <h2>Fun</h2>
             <img class="img-responsive img-circle" src="images/fun.jpg">
             <p>The server is made having the concept of fun in it. Bots and AFK farming is strictly banned, and there are hidden bosses and dungeons.</p>
           </div>
         </div>

         
         <!-- <form class="form-inline pull-xs-right">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-success-outline" type="submit">Search</button>
         </form> -->
      </nav>
   </div>
</header>