<div class="playnow">
	<div class="playnow-title">
		<img src="/images/minecraft-icon.png" alt="minecraft icon">
		<h3><strong>The Minecraft Server</strong> that runs on Bitcoin</h3>
	</div>
	<p>Bitquest is a "Survival" style Minecraft server with a Bitcoin-denominated economy.  Players can buy, sell and trade items using BTC micropayments with a fully funcional Bitcoin wallet you can send money to/from.</p>
	<p>To start playing, Connect to the following address using the Desktop Version of Minecraft:</p>
	<div class="row">
		<div class="col-md-6">
			<h4>Classic server</h4>
	      	<div class="playnow-server">
	      		play.bitquest.co
	      	</div>
      	</div>
		<div class="col-md-6">
	      	<h4>Beta server</h4>
	      	<div class="playnow-server">
	      		beta.bitquest.co
	      	</div>
		</div>
	</div>
</div>