<section class="playnow">
	<div class="container">
		<div class="text-center">
			<h1>Getting Started: How to Play</h1>
		</div>
		<div class="row step step-1">
			<div class="playnow-title">
				<div class="step-bullet">1</div>
				<h3><strong>Get Minecraft</strong> Create an account and install the latest version</h3>
			</div>
			<p>Bitquest is a "Survival" style Minecraft server with a Bitcoin-denominated economy.  Players can buy, sell and trade items using BTC micropayments with a fully funcional Bitcoin wallet you can send money to/from.</p>
			<p>To start playing, Connect to the following address using the Desktop Version of Minecraft:</p>
		</div>

		<div class="row step step-2">
			<div class="playnow-title">
				<div class="step-bullet">2</div>
				<h3><strong>Connect to a BitQuest Server</strong> Lorem ipsum dolor sit amet</h3>
			</div>
			<p>Bitquest is a "Survival" style Minecraft server with a Bitcoin-denominated economy.  Players can buy, sell and trade items using BTC micropayments with a fully funcional Bitcoin wallet you can send money to/from.</p>
			<div class="col-md-12 server-info">
				<div class="col-sm-4">
					<h5>Classic server</h5>
			      	<div class="playnow-server">
			      		play.bitquest.co
			      	</div>
		      	</div>
		      	<div class="col-sm-4">
			      	<h5>Beta server</h5>
			      	<div class="playnow-server">
			      		beta.bitquest.co
			      	</div>
				</div>
			</div>
			
		</div>

		<div class="row step step-3">
			<div class="playnow-title">
				<div class="step-bullet">3</div>
				<h3><strong>Lorem ipsum dolor</strong> Consectetur adipisicing elit, Necessitatibus</h3>
			</div>
			<p>Bitquest is a "Survival" style Minecraft server with a Bitcoin-denominated economy.  Players can buy, sell and trade items using BTC micropayments with a fully funcional Bitcoin wallet you can send money to/from.</p>
			<p>To start playing, Connect to the following address using the Desktop Version of Minecraft:</p>
		</div>

		<div class="row step step-4">
			<div class="playnow-title">
				<div class="step-bullet">4</div>
				<h3><strong>Join the Community</strong> Lorem ipsum dolor sit</h3>
			</div>
			<p>Bitquest is a "Survival" style Minecraft server with a Bitcoin-denominated economy.  Players can buy, sell and trade items using BTC micropayments with a fully funcional Bitcoin wallet you can send money to/from.</p>
			<p>To start playing, Connect to the following address using the Desktop Version of Minecraft:</p>
		</div>
	        
	</div>
</section>