<!DOCTYPE html>
<html>
	
	{% include head.html %}

	<body>
		
		{% include header.html %}
		
		<section class="ground">
      <div class="container">
        <div class="content col-md-7 col-sm-6">
          {{ content }}
        </div>
        <div class="sidebar col-md-5 col-sm-6">
          <div class="well">sidebar</div>
        </div>
      </div>  
    </section>

		{% include footer.html %}
	
		<!-- JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
	</body>

</html>
