<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        
        {% include header.html %}
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                        {{ content }}
                </div>
                <div class="col-md-2">
                    Articles
                <ul>
                    {% for article in site.wiki %}
                    <li><a href="{{ article.url }}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
             </div>
        </div>
        {% include footer.html %}
    </body>
</html>